<index>
  <head></head>
  <body>
    <h1>Welcome to <a href="http://stripstarter.org">Stripstarter!</a></h1>
    <br />
    <p><%= @user.first_name %>, thanks for registering.  Check out your sweet <%= link_to "profile", user_path(@user) %>!</p>
    <br />
    <h3>What is Stripstarter?</h3>
    <br />
    <p>
    Stripstarter is a social crowdsourcing application. While the original intent was of a more adult nature, we feel that its services could be applied to any situation involving people and media (but not social media).
    <br /><br />
    At it’s core, Stripstarter is a way for people to recruit others to do or make media-based services for them. For example, a campaign to raise money for a Firefly movie. Wait, that’s already been done? Well, you get the idea.
    <br /><br />
    Likewise, it also serves as an avenue for people to raise money to provide their own services - for example, a famous movie star who would release photos of a more, ahem, discretionary nature once his or her campaign gets enough funding.
    </p>
    <br />
    <h3>What can Stripstarter do for me?</h3>
    <br />
    <p>
    Go ahead and make a campaign. Start it off with a $5 pledge: for example, a video of Nathan Fillion fighting Brad Pitt. And while you’re at it, throw another $5 at the campaign for shirtless pictures of Sarah Palin. Do it for the democrats. Do it for democracy.
    </p>
    <br />
    <h3>Feedback</h3>
    <br />
    <p>
    We’d love to hear what you think. Get at us at <a href="mailto:stripstarter@gmail.com">Gmail</a> or <a href="http://twitter.com/stripstarter">Twitter</a>, and check out our source code on <a href="http://github.com/stripstarter/stripstarter">Github</a>.
    </p>
  </body>
</index>