Stripstarter: Putting the 'fun' in crowdfunded pornography
<br />
<br />
Please enter the name of a performer:
<%= text_field_tag 'performer_name' %>

<script type="text/javascript">
    $(function() {

 // Below is the name of the textfield that will be autocomplete    
    $('#performer_name').autocomplete({
 // This shows the min length of charcters that must be typed before the autocomplete looks for a match.
            minLength: 2,
 // This is the source of the auocomplete suggestions. In this case a list of names from the people controller, in JSON format.
            source: '<%= performer_search_path(:json) %>',
  // This updates the textfield when you move the updown the suggestions list, with your keyboard. In our case it will reflect the same value that you see in the suggestions which is the performer.given_name.
            focus: function(event, ui) {
              console.log("focus");
                $('#perfomer_name').val(ui.item.name);
                return false;
            },
 // Once a value in the drop down list is selected, do the following:
            select: function(event, ui) {
              console.log("select");
 // place the performer.given_name value into the textfield called 'perfomer_name'...
                $('#perfomer_name').val(ui.item.name);
 // and place the performer.id into the hidden textfield called 'link_origin_id'. 
        $('#link_origin_id').val(ui.item.performer.id);
                return false;
            }
        })
 // The below code is straight from the jQuery example. It formats what data is displayed in the dropdown box, and can be customized.
        .data( "ui-autocomplete" )._renderItem = function( ul, item ) {
          console.log("data");
          console.log(item);
            return $( "<li></li>" )
                .data( "item.autocomplete", item )
 // For now which just want to show the performer.given_name in the list.
                .append( "<a>" + item.id + "</a>" )
                .appendTo( ul );
        };
    });
    </script>