development:
  adapter: postgresql
  encoding: utf8
  database: stripstarter_dev
  pool: 5
  username: postgres
  password: 

production:
  adapter: postgresql
  encoding: utf8
  database: stripstarter_dev
  pool: 5
  username: postgres
  password: 

test:
  adapter: sqlite3
  encoding: utf8
  database: db/test.sqlite3
  pool: 5
  timeout: 5000