development:
  adapter: postgresql
  encoding: utf8
  database: stripstarter
  pool: 5
  username: stripstarter
  password: YOUR_PASSWORD_HERE

production:
  adapter: postgresql
  encoding: utf8
  database: stripstarter
  pool: 5
  username: stripstarter
  password: YOUR_PASSWORD_HERE

test:
  adapter: sqlite3
  encoding: utf8
  database: db/test.sqlite3
  pool: 5
  timeout: 5000