<h3>Newest Campaigns</h3>

<br />
<br />

<table>
  <tr>
    <th></th>
    <th></th>
  </tr>
  <% @newest_campaigns.each do |campaign| %>
    <tr>
      <td><%= link_to "#{campaign.name}", campaign_path(campaign) %></td>
      <td><%= campaign.created_at.strftime("%B %d, %Y") %></td>
    </tr>
  <% end %>
</table>