<div class="row">
  <div class="col-md-8">
    <h3 class="text-center">Top Campaigns</h3>

    <br />
    <br />

    <table class="table table-striped">
      <% @top_campaigns.each do |campaign| %>
        <tr>
          <td><%= link_to "#{campaign.name}", campaign_path(campaign) %></td>
          <td><%= "$#{campaign.amount}" %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>