<h3>Top Campaigns</h3>

<br />
<br />

<table>
  <tr>
    <th></th>
    <th></th>
  </tr>
  <% @top_campaigns.each do |campaign| %>
    <tr>
      <td><%= link_to "#{campaign.name}", campaign_path(campaign) %></td>
      <td><%= "$#{campaign.amount}" %></td>
    </tr>
  <% end %>
</table>