/*http://jsfiddle.net/crnacura/mu5a12rr/*/

/*

nav#side-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 200px;
  background: #666;
  transform: translate3d(-100%,0,0);
}

div.container {
  margin: 0;
  padding: 50px;
}

div.container:hover {
  transform: translate3d(200px,0,0)
}*/